@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,600';
*{
    box-sizing: border-box;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}
html{
   
    background-color: darkgrey;
}
body{
    width: 480px;
    margin: 0px;
}
.inner-title {
    width: 480px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 4px;
}
.inner{
    width: 480px;
    margin: auto;
    padding: 4px;
}
.header{
		background-image: url('../../images/banner.jpg');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		text-align: center;
        border-top: 0.5em solid #5385c1;
        color: white;

}
.nav-element{
    padding: 4px;
    color: white;
}
.nav{
    display: none;
}
.header-title {
    font-weight: 100;
    font-size: 40px;
    
}

.header-text, p{
    font-weight: 300;
    color:darkgrey;
    line-height: 25px; 
    padding-bottom: 25px;   
}
.header-content{
    padding: 50px;
}
.logo-link{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: 20px;

}
.wrapper{
    background-color: #fff;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    background-color: #5385c1;
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 15px 40%;
}
.box-title{
    color: #5385c1 ;
    font-weight: 300;
    font-size: 22px;
}
article{
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
}
#two {
    background-color: #5385c1;
    text-align: center;
}
.box-person{
    border:1px solid lightgray ;
    
    color: white;
}